@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));


:root {
  --background: oklch(0.96 0.01 95.09);
  --backdrop: oklch(0.92 0.01 95.09);
  --foreground: oklch(0.05 0.02 29.23);
  --card: oklch(0.98 0.01 87.41);
  --card-foreground: oklch(0.50 0.12 22.36);
  --popover: oklch(0.98 0.01 87.41);
  --popover-foreground: oklch(0.50 0.12 22.36);
  --primary: oklch(0.50 0.20 21.94);
  --primary-foreground: oklch(0.97 0.01 87.41);
  --secondary: oklch(0.86 0.17 91.96);
  --secondary-foreground: oklch(0.50 0.12 22.36);
  --muted: oklch(0.91 0.01 87.42);
  --muted-foreground: oklch(0.50 0.04 20.77);
  --accent: oklch(0.92 0.02 32.59);
  --accent-foreground: oklch(0.50 0.12 22.36);
  --destructive: oklch(0.65 0.24 22.84);
  --border: oklch(0.90 0.01 25.23);
  --input: oklch(0.90 0.01 25.23);
  --ring: oklch(0.70 0.06 22.72);
  --chart-1: oklch(0.62 0.23 22.05);
  --chart-2: oklch(0.48 0.15 145.40);
  --chart-3: oklch(0.52 0.24 297.06);
  --chart-4: oklch(0.39 0.13 35.76);
  --chart-5: oklch(0.60 0.12 227.93);
  --sidebar: oklch(0.91 0.01 87.42);
  --sidebar-foreground: oklch(0.50 0.12 22.36);
  --sidebar-primary: oklch(0.50 0.20 21.94);
  --sidebar-primary-foreground: oklch(0.44 0.12 22.10);
  --sidebar-accent: oklch(0.92 0.02 32.59);
  --sidebar-accent-foreground: oklch(0.50 0.12 22.36);
  --sidebar-border: oklch(0.90 0.01 25.23);
  --sidebar-ring: oklch(0.70 0.06 22.72);

  --font-sans: 'Geist', 'Geist Fallback', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: "Geist", "Geist Fallback", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Geist Mono", "Geist Mono Fallback", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --radius: 0.5rem;
  
  --shadow-2xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0 0 0 / 0.10), 0 1px 2px -1px oklch(0 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0 0 0 / 0.10), 0 1px 2px -1px oklch(0 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0 0 0 / 0.10), 0 2px 4px -1px oklch(0 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0 0 0 / 0.10), 0 4px 6px -1px oklch(0 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0 0 0 / 0.10), 0 8px 10px -1px oklch(0 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0 0 0 / 0.25);
  
}

.dark {
  --background: oklch(0.16 0 0);
	--backdrop: oklch(0.12 0 0);
  --foreground: oklch(0.99 0 0);
  --card: oklch(0.20 0 0);
  --card-foreground: oklch(0.99 0 0);
  --popover: oklch(0.27 0 0);
  --popover-foreground: oklch(0.99 0 0);
  --primary: oklch(0.86 0.17 91.93);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.50 0.20 22.00);
  --secondary-foreground: oklch(0.96 0.02 21.25);
  --muted: oklch(0.27 0 0);
  --muted-foreground: oklch(0.71 0 0);
  --accent: oklch(0.37 0 0);
  --accent-foreground: oklch(0.99 0 0);
  --destructive: oklch(0.70 0.19 22.23);
  --border: oklch(1.00 0 0 / 10%);
  --input: oklch(1.00 0 0 / 15%);
  --ring: oklch(0.41 0.11 45.87);
  --chart-1: oklch(0.88 0.17 91.85);
  --chart-2: oklch(0.77 0.17 65.36);
  --chart-3: oklch(0.67 0.17 53.38);
  --chart-4: oklch(0.56 0.16 45.36);
  --chart-5: oklch(0.47 0.14 44.98);
  --sidebar: oklch(0.20 0 0);
  --sidebar-foreground: oklch(0.99 0 0);
  --sidebar-primary: oklch(0.77 0.17 65.36);
  --sidebar-primary-foreground: oklch(0.99 0.02 95.24);
  --sidebar-accent: oklch(0.27 0 0);
  --sidebar-accent-foreground: oklch(0.99 0 0);
  --sidebar-border: oklch(1.00 0 0 / 10%);
  --sidebar-ring: oklch(0.41 0.11 45.87);
  
  --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
  --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
  --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
  --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
  --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
}

@theme inline {
  --color-background: var(--background);
	--color-backdrop: var(--backdrop);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-backdrop text-foreground;
	}
}

@theme {
	--font-title: 'Bebas Neue', sans-serif;
	--font-sans: 'Plus Jakarta Sans', sans-serif;
}
